<!DOCTYPE html>
<html>
<head>
    <title>HLS Streaming Example</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
<video id="videoPlayer" controls autoplay></video>

<script>
    // HLS 스트림 URL 설정
    var hlsStreamUrl = "/stream";

    // 비디오 플레이어 생성
    var videoPlayer = document.getElementById("videoPlayer");

    // 비디오 소스 설정
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(hlsStreamUrl);
        hls.attachMedia(videoPlayer);
    } else if (videoPlayer.canPlayType("application/vnd.apple.mpegurl")) {
        videoPlayer.src = hlsStreamUrl;
    }
</script>
</body>
</html>
