<!DOCTYPE html>
<html>
<head>
    <title>CCTV 영상 스트리밍</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var stompClient = null;

        /*function connect() {
            var socket = new SockJS('/cctv');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/streaming', function (videoData) {
                    // 비디오 데이터를 받아서 화면에 표시하는 로직을 구현
                    var canvas = document.getElementById('videoCanvas');
                    var context = canvas.getContext('2d');

                    const imageDataArray = new Uint8ClampedArray(videoData);
                    const imageDataObj = new ImageData(imageDataArray, 640, 480);

                    context.clearRect(0, 0, canvas.width, canvas.height); // 이전 프레임 지우기
                    context.putImageData(imageDataObj, 0, 0); // 새로운 프레임 그리기
                });

                stompClient.send("/app/streaming", {}, 'rtsp://user:zxcv123!@192.168.0.127:554/profile2/media.smp');
            });
        }*/
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/cctv');
            stompClient = Stomp.over(socket);
            stompClient.debug = null;
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/streaming', function (response) {
                    var base64Image = response.body;
                    var imgElement = document.getElementById('videoImage');

                    imgElement.src = 'data:image/jpeg;base64,' + base64Image;
                });

                stompClient.send("/app/streaming", {}, 'rtsp://user:zxcv123!@192.168.0.127:554/profile2/media.smp');
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        window.onload = function () {
            connect();
        };

        window.onbeforeunload = function () {
            disconnect();
        };

        function userSend(){
            stompClient.send("/app/streaming", {}, 'Fuck');
        }
    </script>
</head>
<body>
<img id = "videoImage"></img>
</body>
</html>
